{% extends 'base.html' %}{% block content %}
<div class="container">
  <h1 class="text-center border bg-danger bg-gradient">Pets Adoption</h1>
  <div class="row">
    {% for pet in pets %}
    <div class="col-md-4 mt-3">
      <img src="{{pet.photo_url}}" class="img-thumbnail" alt="" />
      {% if pet.available %}
      <a href="/view_details/{{pet.id}}">{{pet.name}}</a> is Available {% else%}
      <a href="/view_details/{{pet.id}}">{{pet.name}}</a> is Not Available {%
      endif %}
    </div>
    {% endfor %}
  </div>
  <a href="/pet/new" class="btn btn-success">Add Pet</a>
</div>
{% endblock %}
